{% extends "adventure/base.html.twig" %}

{% block title %}Jordgubbstårta{% endblock %}

{% block body %}
    <div class="adventure-room">
    <img class="adventure-img" src="{{ asset('img/adventure/') }}{{image}}" alt="Kitchen">
    </div>
    <div class="adventure-basket">
        {% for i in 0..10 %}
            {% if basket[i] is defined %}
            <div><img alt="item" title="item" src="{{ asset('img/adventure/') }}{{basket[i]}}"></div>
            {% else %}
            <div id="item{{ i }}"></div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="adventure-text">
        <p>
            {{ description }}
            {{ directions }}
        </p>
    </div>
    <footer class="adventure-gamebar">
        <p>{{ place }}</p>
        <form class="adventure-form" action="{{ path('proj_game_input') }}" method="POST">
            <input class="adventure-input" type="text" name="input" placeholder="Write here.">
            <input class="button" type="submit" value="ok">
        </form>
        <a class="button" href="{{ path('proj_home') }}">&#10005;</a>
    </footer>
{% endblock %}