{% extends "adventure/base.html.twig" %}

{% block title %}Jordgubbstårta{% endblock %}

{% block body %}
    <div class="adventure-room">
    {% if gameEnd %}
    <img class="adventure-img" src="{{ asset('img/adventure/calum-lewis-rkT_TG5NKF8-unsplash.jpg') }}" alt="{{ place }}">
    {% else %}
    <img class="adventure-img" src="{{ asset('img/adventure/') }}{{image}}" alt="{{ place }}">
    {% endif %}
    </div>
    <div class="adventure-basket" title="Your Basket">
        {% for i in 0..9 %}
            {% if basket[i] is defined %}
            <div><img alt="item{{i}}" src="{{ asset('img/adventure/') }}{{basket[i]}}"></div>
            {% else %}
            <div id="item{{ i }}"></div>
            {% endif %}
        {% endfor %}
    </div>
    <span class="adventure-basket-label">In Your Basket</span>
    <div class="adventure-text">
        {% if action %}
        <p>
            {{ action }}
        <p>
            {% if gameEnd %}
            <img style="width: 100px; height: 100px;" src="{{ asset('img/adventure/cake-svgrepo-com.svg') }}" alt="Cake">
            {% else %}
            <p class="animated">
                What do you want to do next?
            </p>
            {% endif %}
        {% else %}
        <p>
            {{ description }}
        </p>
        <p>
            {{ directions }}
        </p>
        <p class="animated">
            What do you want to do next?
        </p>
        {% endif %}

    </div>
    <footer class="adventure-gamebar">
        <p>{{ place }}</p>
        {% if not gameEnd %}
        <form class="adventure-form" action="{{ path('proj_game_input') }}" method="POST">
            <select class="adventure-select" name="action" style="">
                <option value="" disabled>Choose your next action</option>
                {% for key, option in options %}
                <option value="{{key}}">{{key}}</option>
                {% endfor %}
            </select>
            <input class="adventure-input" type="text" name="input" placeholder="something">
            <input class="button" type="submit" value="ok">
        </form>
        {% endif %}
        <a class="adventure-button" href="{{ path('proj_home') }}">&#10005;</a>
    </footer>
{% endblock %}