{% extends "base.html.twig" %}

{% block title %}Game21{% endblock %}

{% block body %}
    <div class="flex-row spread" style="display: flex; flex-direction: row; justify-content: space-between">
        <h1>Tjugoett</h1>
        <div>
            <a class="button lila-button" href="{{ path('game_init') }}">Starta om</a>
            <a class="button" href="{{ path('game_home') }}">&#10005;</a>
        </div>
    </div>

    {% if loser == "bank" %}
    <div class="message-box success">
    <p>Grattis till att du vann &#129395;</p>
    </div>
    {% elseif winner == "bank" %}
    <div class="message-box warning">
    <p>Banken vann... bättre tur nästa gång &#128540;</p>
    </div>
    {% else %}
    <div class="message-box info">
    <p>{{currentPlayer}} spelar...</p>
    </div>
    {% endif %}

    <div class="cols-2 flex-center">
        <div>
            <h3>Ditt totalt antal kort: {{playerCardTotal}}</h3>
            <div class="">
            {% for string, colorValues in playerCards %}
            <span title="{{colorValues[1]}}" class="card" style="color: {{colorValues[0]}}">&#{{string}}</span>
            {% endfor %}
            </div>

            <form method="post" action="">
                <p>
                    {% if currentPlayer != "bank" and playerCards|length < 2 %}
                    <input class="button blue-button" type="submit" name="draw"
                        value="Dra ett kort"
                        onClick="this.form.action='{{ path('game_draw_card') }}';"
                    >
                    {% endif %}
                    {% if playerCards|length > 0 and not loser %}
                    <input class="button blue-button" type="submit" name="endRound"
                        value="Avsluta tur"
                        onClick="this.form.action='{{ path('game_bank') }}';"
                    >
                    {% endif %}
                </p>
            </form>
        </div>

        <div>
            <h3>Bankens totalt antal kort: {{bankCardTotal}}</h3>
            <div class="">
            {% for string, colorValues in bankCards %}
            <span title="{{colorValues[1]}}" class="card" style="color: {{colorValues[0]}}">&#{{string}}</span>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}