{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Kortlek</h1>
    <span class="card">&#{{ cardString }}</span>
    <ul class="game-links">
        <li><a href="{{ path('card_deck') }}">Sorterade kort</a></li>
        <li><a href="{{ path('card_deck_shuffle') }}">Blandade kort</a></li>
        <li><a href="{{ path('card_deck_draw') }}">Dra ett kort från kortleken</a></li>
        <li><a href="{{ path('card_deck_draw_num', {num: 5}) }}">Dra ett antal kort från kortleken</a></li>
    </ul>
{% endblock %}